#controlli {
    border-bottom: 2px solid gray;
    padding: 20px;
}

#controlli input, #controlli button {
    margin-left: 20px;
}

img {
    border: 5px solid gray;
    margin: 10px;
}

img:hover {
    border: 5px solid red;
}

